.card__luxury {
    background-color: hsl(179, 100%, 13%);
    background-image: url(../../images/icon-luxury.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    height: 25rem;
    justify-content: center;
}